@import 'src/Static/styles';

.about-container {
  flex-direction: column;
  align-items: center;

  > h1 {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    font-size: 2em;
  }

  .about {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 450px) {
      flex-direction: column;
    }

    .about-text,
    .about-portrait {
      position: relative;
      width: 48%;

      @media screen and (max-width: 450px) {
        width: 100%;
      }
    }

    .about-text {
      font-size: 1.5em;
      line-height: 1.4;

      @media screen and (max-width: 450px) {
        margin-bottom: 20px;
      }
    }
  }

  .about-portrait {
    height: 0;
    overflow: hidden;
    padding-top: 50%;
    max-width: 400px;

    @media screen and (min-width: 992px) {
      padding-top: 40%;
    }

    @media screen and (max-width: 450px) {
      padding-top: 100%;
    }
  }

  img {
    object-fit: cover;
    object-position: center center;
    transition-delay: 500ms;
    border-radius: 10px;
    max-height: 400px;
  }
}
