$dark-violet: #090915;
$black: #000000;
$light-grey: #d0dbfc;
$slate-grey: #8a94b3;
$cyan: #27cdcd;
$semi-dark-blue: #222e52;
$font-sans: 'Calibre','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
$font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
